In [1]:
import numpy as np
import pandas as pd
import networkx as nx
from IPython.display import display, Image
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
df_test = pd.read_csv('csv/test.csv')
info = pd.read_csv('csv/info.csv')
df_network = pd.read_csv('csv/network.csv')
news = pd.read_csv('csv/covid-19_news.csv')
sample_submit = pd.read_csv('csv/sample_submit.csv', usecols=[0], names=["id"])
#sample_submit = pd.read_csv('csv/sample_submit.csv')
df_train = pd.read_csv('csv/train.csv')

In [3]:
df_test["delayTime"] = df_test.groupby(["date", "trainNo"]).delayTime.transform(
    lambda x: x.fillna(method="ffill").fillna(0)
)

In [4]:
submit = sample_submit.merge(df_test[["id", "delayTime"]], on="id", how="left")
submit.to_csv("./sub/benchmark_output.csv", index=False, header=False)

In [5]:
submit

             id  delayTime
0       1488935        3.0
1       1488936        3.0
2       1488937        3.0
3       1488938        3.0
4       1488939        3.0
...         ...        ...
123270  2748010        0.0
123271  2748011        0.0
123272  2748012        0.0
123273  2748013        0.0
123274  2748113        0.0

[123275 rows x 2 columns]